.quantity-buttons {
    display: flex;
    align-items: center;
    gap: 16px; // Adds space between the buttons and the quantity label
  }
  
  .quantity-button {
    font-size: 24px; // Makes the + and - signs larger
    width: 48px; // Sets a fixed width for the buttons
    height: 48px; // Sets a fixed height for the buttons
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .quantity-label {
    font-size: 18px; // Makes the quantity label larger
    margin: 0 8px; // Adds margin around the quantity label
  }

ion-fab {
  position: fixed;
  bottom: 16px; /* Adjust as needed */
  right: 16px;  /* Adjust as needed */
  z-index: 1000;
}

.summary {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping on narrow screens */
  justify-content: space-between; /* Spread items evenly */
  align-items: center; /* Align items vertically */
  width: 100%; /* Ensure it spans the full width */
  max-width: 100%; /* Avoid content overflow */
  gap: 8px; /* Add spacing between elements */
}

.summary div {
  flex: 1 1 30%; /* Ensure even distribution and wrapping */
  text-align: center; /* Center text */
  font-size: 1.2em;
  font-weight: bold;
}

.user-label {
  font-size: 0.9em;
  color: gray;
  margin-top: 4px;
  display: block;
  text-align: center;
}
